:root {
    --main-bg-color: rgb(63, 63, 63);
    --font-color-white: rgb(207, 207, 207);
    --font-color-gray: rgb(49, 49, 49);
  }
body{
    background-color: var(--main-bg-color);
    color: var(--font-color-white);
    }
#content{
    background-color: rgb(200, 200, 200);
    color: var(--font-color-gray);
}
#logo{
    border-radius: 5px;
}