<h1>Página para prueba de Imágenes!!</h1>

<p>La etiqueta "img" nos permite insertar imágenes en nuestras páginas:</p>

<img src="https://static.djangoproject.com/img/fundraising-heart.cd6bb84ffd33.svg" alt="Girl in a jacket" width="100" height="50">

<p>También podemos utilizar estas imagenes como links si utilizamos la etiqueta "a" de manera que podemos utilizarlas como botones!</p>

<a href="https://www.djangoproject.com/">
    <img src="https://static.djangoproject.com/img/fundraising-heart.cd6bb84ffd33.svg" alt="Girl in a jacket" width="100" height="50">
</a>

<p>Más información: <a href="https://www.w3schools.com/tags/tag_img.asp">AQUÍ</a></p>
