<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'e-commerce/css/base.css' %}">
    <title>{% block title %}Marvel e-commerce{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        <img id ="logo" src="{% static 'e-commerce/img/marvel.svg' %}" alt="My image" width="15%" height="10%">
        {% block sidebar %}
        <ul>
            <li><a href="/e-commerce/index">Comics</a></li>
            <li><a href="/e-commerce/">Login</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>