<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <div>
        <h1>¡Hola, ésta es una página de ejemplo!</h1>

        {% if user.is_authenticated %}
    <p> Welcome '{{ user.username }}'</p>
{% else %}
    <a href="{% url '/e-commerce' %}">Login</a>
{% endif %}
<ul>
    <li>Username: {{user.username}}</li>
    <li>Pass:{{user.password}}</li>
    
    {% for wish in wishes %}
    
    <li>{{wish.cart}}</li>
    <li>{{wish.favorite}}</li>
    <li>{{wish.wished_qty}}</li>
    <li>{{wish.buied_qty}}</li>

    {% endfor %}   

    <li>Request{{request.META}}</li>
    <li>{{user}} </li>
    <li>----</li>
    <li>{{lista.0}} </li>
</ul>        

    </div>
</body>

</html>